# This is Git's per-user configuration file.

# https://jvns.ca/blog/2024/02/16/popular-git-config-options
[user]
# Please adapt and uncomment the following lines:
	name = Sven Hohlfeld
	email = sho1975@gmail.com
	signingkey = 53B99ACD4EA91ED9866F61827ABED08302AFE36F
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = /usr/bin/vim
	# pager = git-split-diffs --color | less -RFX
	pager = delta -s
[init]
	defaultBranch = main #master
[pull]
	rebase = true
[rebase]
	autoStash = true
[safe]

[help]
	autocorrect = prompt

[interactive]
	diffFilter = delta --color-only

[diff]
	algorithm = histogram

[branch]
	sort= -committerdate
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
